block append content
  h2 About
  p Hi! My name is Will Kehayioff. Welcome to my site!
  p This site has been created to provide me with a platform to blog, host a cv, and eventually some releases.
  p I have completed my Graduate Diploma in Computer Science. I already hold a BSc in human nutrition with a minor in physiology.  My goal is to enter the field of IT with a focus on web development, software development, or infrastructure.
  p My strengths are my ability to rapidly learn ideas and absorb information, along with my dedication and enthusiasm for any job that I am given. I am also interested in people and form  excellent  relationships. My organisation and teamwork skills are also good. I am interested in many areas in technology, exercise, and personally enjoy cooking.
