div#title
  h1 Will Kehayioff
div#navmenu   
  button(class="mainMenu", value="about" ) About
  |  - 
  button(class="mainMenu", value="cv" ) CV
  |  - 
  button(class="mainMenu", value="work" ) Work
  |   



//  button(class="mainMenu", value="blog" ) Blog
//  |  - 
