!!!5
html
	head	
		title #{title}
		link(rel='stylesheet', href='styles/style.css' type='text/css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cutive+Mono', type='text/css')

		
	body
		div#header
			div#title
				h1 Will Kehayioff
			div#navmenu - 
				a(href='/') Home
				|  - 
				a(href='/about') About
				|  - 
				a(href='/cv') CV
				|  - 
				a(href='/blog') Blog
				|  - 
				a(href='/releases') Releases
				|  -
		
		div#primarywrapper
			block content
