block extend content
  H2 Wall
  fieldset
    legend <b> What's on your mind?</b>
    div#statuswrap
      textarea(name='status' id='statusbox' placeholder='Type here' autofocus maxlength='2000' spellcheck)
      textarea(name='aurthor' id='namebox' placeholder='Your name (optional)' maxlength='70')
      button(onclick='updateStatus();' id='statusbutton') Submit
  script.
    $(document).ready(createStream())  
  div#statuswall
  
