body
  font 62.5%/1.5  Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif
  text-align center
  background white

#header 
  width 100%
  text-align center
  padding 20px
  margin-left auto
  margin-right auto

#primarywrapper
  border-radius 9px
  box-shadow 6px 6px 16px #a2a2a2
  background-color #FFFFFF
  height 80%
  overflow auto
  min-width 420px
  min-height 300px
  margin-top 35px
  margin-left auto
  margin-right auto
  background-color #B5B5B5
